<div class="servicePage" id="serviceSection">
    <div class="titre">
        <img src="{{ asset('images/triangle-puce.png') }}" alt="Puce Titre extracopy">
        <h2>Nos différents services ?</h2>
    </div>
    <div class="slideServices">
        <div class="service slide">
            <h3>Impressions et Photocopies</h3>
            <div class="flexSlide">
                <div class="texte">
                    <p><span>Xtra Copy Tournai</span> est un magasin spécialisé dans la <strong>reproduction de
                            documents.</strong></p><p> Nous offrons une
                        gamme
                        complète de services de copie, allant des photocopies standard aux impressions en couleur haute
                        résolution. Nous sommes également en mesure de réaliser des copies à partir de fichiers
                        <strong>PDF</strong>,
                        pour imprimer directement <strong>vos documents sur place.</strong></p>
                    <p>Chez <span>Xtra Copy Tournai</span>, nous sommes conscients de l'importance de la qualité et de
                        la précision
                        dans la
                        reproduction de vos documents. C'est pourquoi nous disposons d'un équipement de pointe pour
                        garantir une
                        <strong>qualité d'impression irréprochable</strong>. Nous sommes également en
                        mesure de réaliser
                        des copies
                        en <strong>grand format</strong> <strong>(plans, affiches, photos)</strong>...</p>
                    <p>En plus de nos services de copie traditionnels, nous offrons également des <strong>systèmes
                            d'abonnement</strong>
                        qui
                        peuvent vous aider à économiser de l'argent sur vos impressions régulières. Que vous soyez une
                        entreprise ou un particulier, nous avons une solution d'abonnement qui conviendra à vos besoins.
                    </p>
                    <p><strong>En résumé, si vous recherchez des services de copie fiables et de qualité à Tournai, ne
                            cherchez
                            pas plus
                            loin que </strong><span>Xtra Copy Tournai.</span> <strong>Nous sommes là pour répondre à
                            tous vos besoins de reproduction de
                            documents, que ce soit pour un document professionnel ou pour vos projets
                            personnels.</strong></p>
                </div>
                <img src="{{ asset('images/servicePhotocopie.jpg') }}" alt="">
            </div>
        </div>
        <div class="service slide">
            <h3>Reliures</h3>
            <div class="flexSlide">
                <div class="texte">
                    <p><span>Xtra Copy Tournai</span> offre des services de <strong>reliures professionnelles</strong> pour tous vos
                        documents. Nous proposons
                        différents types de reliure, tels que la reliure à anneaux plastique ou métallique ainsi que des reliure à dos carré collé.</p>
                    <p>Chez <span>Xtra Copy Tournai</span>, nous comprenons l'importance de la qualité et de la
                        durabilité dans la reliure de
                        vos documents. C'est pourquoi nous utilisons des matériaux de haute qualité pour assurer une
                        finition
                        impeccable et une longue durée de vie à vos documents reliés.</p>
                    <p>Que vous ayez besoin de relier un rapport de stage, un mémoire universitaire, un livre ou tout
                        autre type
                        de document, notre équipe expérimentée est là pour vous aider.</p>
                    <p><strong>En résumé, si vous cherchez un service de reliure professionnel et fiable à Tournai, ne
                            cherchez pas plus
                            loin que </strong><span>Xtra Copy Tournai</span>. <strong>Nous sommes là pour répondre à
                            tous vos besoins de reliure de documents, en
                            utilisant des matériaux de haute qualité pour garantir une finition impeccable et
                            durable.</strong></p>
                </div>
                <img src="{{ asset('images/serviceReliures.jpg') }}" alt="">
            </div>
        </div>
        <div class="service slide">
            <h3>Plastification</h3>
            <div class="flexSlide">
                <div class="texte">
                    <p><span>Xtra Copy Tournai</span> propose des services professionnels <strong>de plastification</strong> pour
                        répondre à
                        tous vos besoins en matière de protection de documents.</p>
                    <p>Nous offrons <strong>un service de plastification</strong> pour protéger vos documents importants
                        contre
                        l'humidité, les taches et les déchirures. Nous pouvons plastifier des documents jusqu'au format A3.</p>
                    <p>Chez <span>Xtra Copy Tournai</span>, nous utilisons des matériaux de haute qualité pour garantir une
                        protection
                        maximale de vos documents. Nous sommes là pour vous aider à conserver vos documents importants
                        en
                        parfait état.</p>
                    <p><strong>En résumé, si vous cherchez <strong>un service professionnel de plastification à Tournai</strong>,
                        ne
                        cherchez pas plus loin que <span>Xtra Copy Tournai</span>. Nous sommes là pour répondre à tous vos besoins en
                        matière
                        de protection de documents, en utilisant des matériaux de haute qualité pour
                        garantir une protection maximale de vos documents importants.</strong></p>
                </div>
                <img src="{{ asset('images/servicePlastification.jpg') }}" alt="">
            </div>
        </div>
        <div class="service slide">
            <h3>Point relais</h3>
            <div class="flexSlide">
                <div class="texte">
                    <p><span>Xtra Copy Tournai</span> est un point relais de colis proposant des services de livraison avec <strong>Mondial
                        Relay,
                        UPS, Post NL, GLS et Homerr</strong>. Nous sommes fiers de proposer une solution pratique et efficace
                        pour les
                        clients qui souhaitent <strong>envoyer ou recevoir des colis.</strong></p>
                    <p>Notre personnel est formé pour offrir un service convivial et professionnel, et nous sommes là
                        pour vous
                        aider à <strong>expédier ou à récupérer votre colis</strong> en toute simplicité. Nous offrons une grande
                        flexibilité en
                        termes d'horaires d'ouverture, pour que vous puissiez récupérer votre colis à
                        un
                        moment qui vous conviennent.</p>
                    <p>Chez <span>Xtra Copy Tournai</span>, nous sommes fiers de travailler avec des entreprises de livraison de
                        renommée
                        internationale pour vous offrir une livraison rapide et fiable. Nous sommes là pour vous aider à
                        <strong>expédier vos colis en toute sécurité</strong> et avec un minimum de tracas.</p>
                    <p><strong>En résumé, si vous cherchez un point relais de colis avec une large gamme de services de
                        livraison à
                        Tournai, ne cherchez pas plus loin que <span>Xtra Copy Tournai</span>. Nous sommes là pour vous aider à
                        expédier ou à
                        récupérer votre colis en toute simplicité, avec une grande flexibilité et en travaillant avec
                        les
                        entreprises de livraison les plus fiables et réputées.</strong></p>
                </div>
                <img src="{{ asset('images/serviceColis.jpg') }}" alt="">
            </div>
        </div>
    </div>
    <div class="tarif">
        <div class="buttonTarif"><a href="{{ asset('pdf/Tarifs.pdf') }}" target="_blank"><i
                    class="fa-solid fa-arrow-right-long"></i> Voir les tarifs</a>
        </div>
    </div>
</div>