{% extends 'base.html.twig' %}
{% set position = 3 %} {# menu anchor variable #}
{% block title %}Admin Xtra Copy: Imprimantes{% endblock %}
{% block body %}
<h1>Administation de Xtra Copy Tournai : Imprimantes</h1>
<div class="cadrePrincipal">
    <a href="{{ path('addPrint')}}" class="ajout">Ajouter une imprimante</a>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success mt-2">
        {{ message }}
    </div>
    {% endfor %}
    <div class="list">
        <table>
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Nom</th>
                <th>Ip</th>
                <th>Actions</th>
            </tr>
       </thead>
        <tbody>
            {% for imprimante in imprimantes %}
            <tr>
                <td>{{imprimante.numero}}</td>
                <td>{{imprimante.name}}</td>
                <td>{{imprimante.ip}}</td>
                <td class="link"><a href="{{path('editPrint',{'id': imprimante.id})}}" class="modif">Modifier</a>
                    <a href="{{path('deletePrint',{'id': imprimante.id})}}" class="delete">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody> 
        </table>
    </div>
    <a href="{{ path('indexParametre')}}" class="retour">Retour</a>
</div>
{% include "partials/_menuAdmin.html.twig" %}
{% endblock %}