{% extends 'base.html.twig' %}
{% set position = 3 %} {# menu anchor variable #}
{% block title %}Admin Xtra Copy: Index Papiers{% endblock %}
{% block body %}
<h1>Administation de Xtra Copy Tournai : Index Papiers</h1>
<div class="cadrePrincipal">

   <div class="list">
   <a href="" class='ajoute'>Ajouter</a>
        <table>
        <thead>
            <tr>
                <th>Catégories</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
       </thead>
        <tbody>
            {% for paper in papers %}
            <tr>
                <td>{{paper.catTypePaper.catName}}</td>
                <td>{{paper.Name}}</td>
                <td>{{paper.Price | round(2)}}</td>
                <td class="link"><a href="" class="modif">Modifier</a>
                    <a href="" class="delete">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody> 
        </table>
        {{ knp_pagination_render(papers) }}
    </div>
    <a href="{{ path('indexParametre')}}" class="retour">Retour</a> 

</div>
{% include "partials/_menuAdmin.html.twig" %}
{% endblock %}