{% extends 'base.html.twig' %}
{% set position = 3 %} {# menu anchor variable #}
{% block title %}Admin Xtra Copy: Index Papiers{% endblock %}
{% block body %}
<h1>Administation de Xtra Copy Tournai : Index Abonnement</h1>
<div class="cadrePrincipal">

   <div class="list">
   <a href="{{ path('addAbonnement')}}" class='ajoute'>Ajouter</a>
        <table>
        <thead>
            <tr>
                <th>Catégories</th>
                <th>Prix</th>
                <th>Nbr de copies</th>
                <th>Actions</th>
            </tr>
       </thead>
        <tbody>
            {% for abo in abos %}
            <tr>
                <td>{{abo.catAbonnement.catName}}</td>
                <td>{{abo.Price | round(2)}} €</td>
                <td>{{abo.nbcopy}}</td>
                
                <td class="link"><a href="{{path('editAbonnement',{'id': abo.id})}}" class="modif">Modifier</a>
                    <a href="{{path('deleteAbonnement',{'id': abo.id})}}" class="delete">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody> 
        </table>
    </div>
    <a href="{{ path('indexParametre')}}" class="retour">Retour</a> 

</div>
{% include "partials/_menuAdmin.html.twig" %}
{% endblock %}