{% extends 'base.html.twig' %}
{% set position = 1 %} {# menu anchor variable #}
{% block title %}Admin Xtra Copy: Index Users {% endblock %}
{% block body %}
<h1>Administation de Xtra Copy Tournai : Index Users</h1>
<div class="cadrePrincipal">

   <div class="list">
   <a href="{{ path('app_worker_add')}}" class='ajoute'>Ajouter</a>
   {% for message in app.flashes('success') %}
    <div class="alert alert-success mt-2">
        {{ message }}
    </div>
    {% endfor %}
        <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse mail</th>
                <th>Rôles</th>
                <th>Actions</th>
            </tr>
       </thead>
        <tbody>
        {% for pagination in paginations %}
        {% if pagination.roles[1] is defined %}
            <tr>
                <td>{{pagination.name}}</td>
                <td>{{pagination.surname}}</td>
                <td>{{pagination.email}}</td>
                <td class='role'>{{pagination.roles|join(', ') }}</td>
                <td class="link userlink">      
                {% if (pagination.email != "benoit_caucheteux@hotmail.com") %}
                    <a href="{{path('app_worker_delete',{'id': pagination.id})}}" class="delete">Supprimer</a>     
                {% endif %}
                </td>
            </tr>
        {% endif %}
            {% endfor %}
            
        </tbody> 
        </table>
         {{ knp_pagination_render(paginations) }}
       
    </div>
    <a href="{{ path('app_admin_page')}}" class="retour">Retour</a> 

</div>
{% include "partials/_menuAdmin.html.twig" %}
{% endblock %}